<head>
  <script type="text/javascript">
    var channel = <%= @channel.id %>;
    var scheme   = "ws://";
    var uri      = scheme + window.document.location.host + "/chat/ws";
    var ws       = new WebSocket(uri);

    ws.onmessage = function(message) {
      var data = JSON.parse(message.data);
      var channel = data.channel;
      user = data.user;
      message = data.message;
      main = document.getElementsByTagName("main")[0];
      message_container = document.createElement("article");
      message_author = document.createElement("span");
      message_author.textContent = user.username;
      message_author.className = "name";
      message_body = document.createElement("span");
      message_body.textContent = message.body;
      message_body.className = "msg";
      message_container.appendChild(message_author);
      message_container.appendChild(message_body);
      main.appendChild(message_container);
    }

    function channelChange(channel_id) {
      // get /channel/id/json
      var xmlHttp = new XMLHttpRequest();
      xmlHttp.onreadystatechange = function() { 
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
          // Should get {disc:, name:, messages: [{username:, body:}, {username:, body:}]}
          data = JSON.parse(xmlHttp.responseText);
          main = document.getElementsByTagName("main")[0];
          main.innerHTML = "";
          var name = document.createElement("h1");
          name.textContent = data.name;
          var disc = document.createElement("h2");
          disc.textContent = data.disc;
          main.appendChild(name);
          main.appendChild(disc);

          for (var i = 0; i < data.messages.length; i++) {
            msg = data.messages[i];
            message_container = document.createElement("article");
            message_author = document.createElement("span");
            message_author.textContent = msg.username;
            message_author.className = "name";
            message_body = document.createElement("span");
            message_body.textContent = msg.body;
            message_body.className = "msg";
            message_container.appendChild(message_author);
            message_container.appendChild(message_body);
            main.appendChild(message_container);
          }
        }
      }
      xmlHttp.open("GET", "/channel/"+channel_id+"/json", true);
      xmlHttp.send(null);
      channel = channel_id;
    }

    function send() {
      var data = new FormData();
      data.append('channel', channel);
      data.append('body', document.getElementById("msgbox").value);

      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/message/create', true);
      xhr.onload = function () {
        console.log(this.responseText);
      };
      xhr.send(data);
    }
  </script>
</head>
<body>
  <form action="/channel/create" method="post">
    <input placeholder="name" name="name">
    <input placeholder="discription" name="discription">
    <p>All test rooms are public</p>
    <input type="submit">
  </form>
  <ul>
    <% @user.channels.each do |channel| %>
    <li onclick="channelChange(<%=channel.id%>)"><%=channel.name%></li>
    <% end %>
  </ul>
  <main>
    <h1><%= @channel.name %></h1>
    <h2><%= @channel.discription %></h2>
    <% @channel.messages[0..100].each do |msg| %>
      <article>
        <span class="name"><%=msg.user.username%></span><span class="msg"><%=msg.body%></span>
      </article>
    <% end %>
  </main>
  <input name="body" id="msgbox" placeholder="message" onchange="send()">
</body>