<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 600px;
        width: 100%;
       }

       #info {
          table-layout: fixed;
          width: 100%;
          border-collapse: collapse;
          font-size:0.7em;
       }

       #info td {
         border: black 1px solid;
       }

       .box {
        border: 1px black solid;
       }
    </style>
  </head>
  <body>
    <div id="stage1">
      <div id="map"></div>
      <div class="box">
        <p>Add by clicking:</p>
        <button onclick="adding = true">Turn on add by click</button>
        <button onclick="adding = false">Turn off add by click</button>
      </div>
      <div class="box">
        <p>Add by typing in an address. When you select an auto complete address, it will be added: <input id="autocomplete" size="50" placeholder="Enter your address" type="text"></p>
      </div>
      <button onclick="submit()">Submit!</button>
    </div>
    <div id="stage2" style="display:none">
      <form>
        <label for="street-address">Street Address:</label>
        <input type="text" name="street-address" /><br/>

        <label for="apt-no">Apartment/Building #:</label>
        <input type="number" name="apt-no" /><br/>

        <label for="city">City:</label>
        <input type="text" name="city" /><br/>

        <label for="zip-code">Zip code:</label>
        <input type="text" name="zip-code" /><br/>

        <input type="submit" value="Next step" />
      </form>
      <!-- Some kind of AJAX submission with `id` would be needed, and autocomplete for those fields -->
    </div>
    <script>
      var map;
      var placeSearch, autocomplete;
      var marker;
      var key;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 6,
          center: {lat: 29.5909775, lng: -93.9997136} // america
        });
        var input = document.getElementById('autocomplete');
        var autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.addListener('place_changed', function() {
          place = autocomplete.getPlace().geometry.location;
          marker.setPosition({"lat": place.lat(), "lng": place.lng()});
        });
        console.log({"lat": <%=@location.latitude%>, "lng": <%=@location.longitude%>});
        navigator.geolocation.getCurrentPosition(function(place){
        marker = new google.maps.Marker({
          "position": {"lat": place.coords.latitude, "lng": place.coords.longitude},
          map: map
        });
        });
      }

      window.onload = function(){
        google.maps.event.addListener(map, 'click', function(event) {
          if (adding) {
           marker.setPosition(event.latLng);
          }
        });
      }
      var adding = false;

      function submit() {
        console.log(marker.position);
        var url = "/person/create";
        var params = "lat="+marker.position.lat()+"&lng="+marker.position.lng();
        var http = new XMLHttpRequest();

        http.open("POST", url, true);

        //Send the proper header information along with the request
        http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        //http.setRequestHeader("Content-length", params.length);
        //http.setRequestHeader("Connection", "close");

        http.onreadystatechange = function() {//Call a function when the state changes.
          if(http.readyState == 4 && http.status == 200) {
            key = http.responseText;
            document.getElementById("stage1").style.display = "none";
            document.getElementById("stage2").style.display = "initial";
          }
        }
        http.send(params);
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBauLvncXCP92FuFzm-Jxc-nwnqqpPh-7c&libraries=places&callback=initMap">
    </script>
  </body>
</html>