<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="/forms.css" />
  <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBauLvncXCP92FuFzm-Jxc-nwnqqpPh-7c&libraries=places&callback=initMap">
  </script>
  <script>
    function nextStep(lat, long) {
      var uri = location.protocol + '//' + location.host + '/person/create/2?lat=' + lat + '&long=' + long;
      location.href = uri;
    }

    window.onload = function() {
      var geoSuccess = function(position) {
        var lat = position.coords.latitude;
        var long = position.coords.longitude;
        console.log('POST ', lat, long);
        nextStep(lat, long);
      };

      document.getElementById('use-my-location').addEventListener('click', function(evt) {
        console.log('Location request (user-initiated)');
        evt.preventDefault();
        navigator.geolocation.getCurrentPosition(geoSuccess);
      });
    };

    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 6,
        center: {lat: 29.5909775, lng: -93.9997136} // america
      });

      var input = document.getElementById('autocomplete');
      var autocomplete = new google.maps.places.Autocomplete(input);
      autocomplete.addListener('place_changed', function() {
        var place = autocomplete.getPlace().geometry.location;
        var lat = place.lat();
        var long = place.lng();
        console.log('POST ', lat, long);
        nextStep(lat, long);
      });

      google.maps.event.addListener(map, 'click', function(event) {
        var lat = event.latLng.lat();
        var long = event.latLng.lng();
        console.log('POST ', lat, long);
        nextStep(lat, long);
      });
    }
  </script>
  <style>
    #map {
      height: 600px;
      width: 100%;
    }
  </style>
</head>

<h1>Rescue Request: Location</h1>
<p>We need a location to be able to respond to your request.</p>
<p>Either <a href="#" id="use-my-location">use your current location</a>, input and select an address below, or click on the map.</p>
<p><input id="autocomplete" size="50" placeholder="Enter your address" type="text"></p>
<div id="map"></div>
