<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="/forms.css" />
</head>

<h1>Rescue Request: Details & Contact</h1>
<p>We now need details of the situation you're in, to allow us to correctly prioritize and respond to your request.</p>

<form action="/person/create/4" method="POST">
  <input type="hidden" name="person_id" value="<%= @person.id %>" />

  <label for="name">Your name: </label>
  <input id="name" type="text" name="name" required /><br/>

  <label for="people-count">Number of people needing assistance: </label>
  <input id="people-count" type="number" name="number_of_people" required /><br/>

  <label for="twitter-handle">Twitter handle: </label>
  <input id="twitter-handle" type="text" name="twitter_handle" /><br/>

  <label for="medical-conditions">Medical conditions: </label><br/>
  <span class="field-description">If anyone in this group has any medical conditions, please provide details here.
    The more details, the better - what is it, what treatment/medication does it require, how much medication do you
    have available, etc. Please <strong>also include injuries or wounds here</strong>.</span><br/>
  <textarea id="medical-conditions" name="medical_conditions" rows="10" cols="100"></textarea><br/>

  <label for="extra-details">Extra details: </label><br/>
  <span class="field-description">Please give us any further information here that might be helpful in responding to
    your request.</span><br/>
  <textarea id="extra-details" name="extra_details" rows="7" cols="100"></textarea><br/>

  <input type="submit" value="Finish" />
</form>
