<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="/forms.css" />
  <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>

  <script>
    $.get("https://maps.googleapis.com/maps/api/geocode/json?latlng=<%= @latlng %>&key=<%= @maps_key %>", function(data) {
      var a = data.results[0].address_components;
      $("#street-address").val(a[0].short_name + " " + a[1].short_name);
      $("#city").val(a[4].long_name ? a[4].long_name : '');
      $("#zip-code").val(a[8].long_name ? a[8].long_name : '');
    });
  </script>
</head>

<h1>Rescue Request: Address</h1>
<p>Based on the location you just selected, we found this address. Make sure this is correct, and then hit Continue.</p>

<form action="/person/create/3" method="POST">
  <input type="hidden" name="person_id" value="<%= @person.id %>" />

  <label for="street-address">Street address: </label>
  <input id="street-address" type="text" name="street_address" placeholder="Finding address..." required /><br/>

  <label for="apt-no">Apartment #: </label>
  <input id="apt-no" type="number" name="apt" /><br/>

  <label for="city">City: </label>
  <input id="city" type="text" name="city" required /><br/>

  <label for="zip-code">Zip code: </label>
  <input id="zip-code" type="text" name="zip_code" required /><br/>

  <input type="submit" value="Continue" />
</form>
