<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="/forms.css" />
</head>

<h1>Rescue Request: Submitted</h1>
<p>Your request has been saved. A volunteer will look at your request shortly and kick off the response process.</p>

<p><strong>Here's what you submitted:</strong></p>
<ul class="details-list">
  <li>
    <strong>Address:</strong> <%= @person.apt.empty? ? '' : "Apt. #{@person.apt}, " %><%= @person.street_address %>, <%= @person.city %> <%= @person.zip_code %>
  </li>
  <li>
    <strong>Name:</strong> <%= @person.name %>
  </li>
  <li>
    <strong>People:</strong> <%= @person.number_of_people %>
  </li>
  <li>
    <strong>Twitter:</strong> <%= @person.twitter_handle %>
  </li>
  <li>
    <strong>Medical:</strong> <%= @person.medical_conditions %>
  </li>
  <li>
    <strong>Details:</strong> <%= @person.extra_details %>
  </li>
</ul>