<h1><%= @id %></h1>
<% fields = @person.attributes.tap { |hs| hs.delete("id") } %>
<form method="post" action="/person/<%=@id%>">
	<input type="hidden" name="id" value="<%=@person.id%>">
	<table>
	<% fields.each do |key, val| %>
	<tr>
		<td><label for="<%=key%>"><%=key.split("_").map{|word| "#{word[0].upcase}#{word[1..-1]}"}.join(" ")%></label></td>
		<td><input name="<%=key%>" value="<%=val%>"></td>
	</tr>
	<% end %>
	</table>
	<input type="submit">
</form>

<h2>Comments</h2>
<% @person.comments.each do |comment| %>
	<span><%= comment.body %></span><br>
<% end %>
<form action="/comment/create" method="post">
  <input type="hidden" name="person_id" value="<%=@id%>">
  <input name="body" placeholder="Add comment!">
  <input type="submit">
</form>
<a href="/person/delete/<%=@id%>">DELETE ME</a>
<a href="/">Back to map</a>