<head>
  <link rel="stylesheet" type="text/css" href="/tablestyles.css">
  <script>
    function search() {
      kids = document.getElementById("keywords").getElementsByTagName("input");
      json = {};
      for (var i = 0; i < kids.length; i++) {
        json[kids[i].name] = kids[i].value;
      }
      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/search', true);
      xhr.setRequestHeader('Content-Type', 'application/json');

      xhr.send(JSON.stringify(json));

      xhr.onloadend = function (e) {
        resp = JSON.parse(e.target.responseText);
        tbl = document.getElementsByTagName("tbody");
        tbl = tbl[tbl.length-1];
        tbl.innerHTML = "";
        for (var a = 0; a < resp.length; a++) {
          row = document.createElement("tr");
          for (key in resp[a]) {
            if (key == "id") {
              link = "/person/"+resp[a][key];
            } else {
              cell = document.createElement("td");
              cell.textContent = resp[a][key];
              row.appendChild(cell);
            }
          }

          cell = document.createElement("td");
          link_ele = document.createElement("a");
          link_ele.href = link;
          link_ele.textContent = "Link!";
          cell.appendChild(link_ele);
          row.appendChild(cell);
          tbl.appendChild(row);
        }
      }
    }
  </script>
</head>
<body>
  <% fields = Person.column_names - ["id"] %>
  <table>
    <tr>
  <% fields.each do |key, val| %>
    <td><label for="<%=key%>"><%=key.split("_").map{|word| "#{word[0].upcase}#{word[1..-1]}"}.join(" ")%></label></td>
  <% end %>
  </tr>
  <tr onchange="if (!document.getElementById('autochange').checked) {search()}" id="keywords">
  <% fields.each do |key, val| %>
    <td><input name="<%=key%>" value="<%=val%>"></td>
  <% end %>
  </tr>
  </table>
  <button onclick="search()">Search!</button>
  Disable autosearch: <input id="autochange" type="checkbox">
  <table>
    <thead>
      <tr>
        <% fields.each do |key, val| %>
          <th name="<%=key%>"><%=key.split("_").map{|word| "#{word[0].upcase}#{word[1..-1]}"}.join(" ")%></th>
        <% end %>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</body>