td, th {
  width:130px;
  border:1px solid black;
}

table {
  width: 1690px;
  table-layout: fixed;
  border-collapse:collapse;
}

td:first-child, th:first-child {
  border-left:none;
}

td:last-child, th:last-child {
  border-right:none;
}

th {
  border-top:none;
}

tr:last-child td {
  border-bottom:none;
}

th,td {
  font-family:sans-serif;
  font-size:0.7em;
}


table {
    display: flex;
    flex-flow: column;
    max-height: 100%;
    width: 1728px;
}
table thead {
    /* head takes the height it requires, 
    and it's not scaled when table is resized */
    flex: 0 0 auto;
    width: 1728px;
}
table tbody {
    /* body takes all the remaining available space */
    flex: 1 1 auto;
    overflow-y: scroll;
}

table tbody tr {
    margin-top:-1px;
    width: 1728px;
}
table thead, table tbody tr {
    display: table;
    table-layout: fixed;
}